// Set the parameters in the nextflow.config file
params {
    bam_file = "data/mt.bam"
    bed_file = "data/regions.bed"
    output_sequences = "sequence.fasta"
    output_counts = "counts.json"
    outdir = "results"
}
profiles {
    docker {
    docker.enabled = true
    docker.userEmulation = true
    }
}

